body{
    background-color:gray;
}

#junkCanvas{
    width:800px;
    height:800px;
    float:left;
}

#sidePanel{
    float:left;
    width:300px;
    border:1px solid red;
    font-family:Helvetica;
    background-color:black;
    color:red;
}
#sidePanel h2{
    text-align:center;
}

#controls{
    width:100%;
    text-align:center;
}
#controls button{
    padding:8px;
    background-color:red;
    color:black;
    font-weight:bold;
    font-size:larger;
    border:2px solid orangered;
    border-radius:4px;
    margin-bottom: 8px;
    opacity:.7;
}
#controls button:hover{
    cursor:pointer;
    opacity:1;
}

#instructions{
    padding:8px;
}

#pelletPower{
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border:1px solid orange;
}
#pelletPower:hover{
    opacity:1;
    cursor:pointer;
}

#pelletPower::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  border:1px solid red;
}

#pelletPower::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  border:1px solid red;
}